<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/sobre.css">
    <title>Sobreapagina</title>
         
</head>
<body>


<header>
  <div class="topnav">
    <div><a class="active" onclick="history.back()">Menu</a></div>
  </div>
  </header>
  <article>
<div class="sobre">

<div class="pagina">
<h1>Sobre à página</h1> 
</div>
<div class="texto">
 <p> Devido maior índice desemprego em Moçambique e falta de informações por parte de Jovens desempregados e 
  
sendo Eles alvo muito fácil de Pessoas mal

&ensp;intencionadas que acaba de resultar em <i>burlas</i>.<br/>

Acabei por criar este website afim de ajudá-lo em sua Jornada em busca de Emprego em para melhorar a sua vida!...</p>
</div>
</div>
  </article>


<div class="criador">
<h2>Criado por:</h2> 
</div>

 <p class="nome">Alberto Pedro Buazico</p> 



</body>
</html>