<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>currículovitae </title>
      
      <link rel="stylesheet"href="static/subpaginanovo.css">  
      
</head>
<body>
<header>
  
<div class="topnav">
  <div><a class="active" onclick="history.back()">Menu</a></div>
</div>
</header>

<article>
<h6 id="requisitos">requisitos mínimos</h6>
<div class="pedidos">
<ol><br/>
<li>Fotocopia de BI.</li><br/>
<li>C.V.</li><br/>
<li>fotocopia de Nuit.</li><br/>
<li>Nivel académico 12classe.</li><br/>
<li>Registo Criminal.</li><br/>
<li>Atestado médico.</li><br/>

</ol> 
</div>
</article>


</body>
</html>