<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    
<div class="contiudo"> 
    <div class="particular">
<section> 
<header>
    <div class="header">
 
    <div>header</div>
    </div>
</header>
</section>

<section>
    <article>
       <div class="container">
        <div>container</div>
       </div>
    </article>
</section>

<section>
    <footer>
        <div class="footer">
        <div>footer</div>
        </div>
    </footer>
</section>
</div>
</div>


</body>
</html>